body {
  margin: 1rem;
  font-family: 'Almendra Display', cursive;
  text-align: center;
  background: url(./assets/farm.jpg) fixed center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 3rem;
  animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

button {
  margin: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}

footer {
  padding: 4rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.butcherPig {
  width: 12rem;
  padding: 2rem;
  border-radius: 3rem;
}

.userInput {
  border-radius: 3rem;
  font-size: 1rem;
  height: 4rem;
  width: 30rem;
  text-align: center;
}

.inputArea {
  background: transparent;
  color: #fff;
  border-radius: .5rem;
  padding: 1rem;
}

.directions {
  border-radius: 5rem; 
  background: white;
  color: black;
  width: 20rem;
  margin: auto;
  border: 2rem;
}

.translate {
  font-size: 2rem;
  border: black;
  border-radius: 1rem;
  background: white;
  font-weight: bold;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
